
.menu {
    position: relative;
    padding: 5px;
    width: 100%;
    overflow:auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(135deg, #ff4655, #3852ff);
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border-radius: 4px;
    user-select: none;
}

.icon {
    position: relative;
    top: 3px;
    opacity: 0.7;
}

.menu_text {
    padding-left: 5px;
    opacity: 0;
    padding-top: 3px;
    transition: all 0.3s;
}

.menu_label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    padding: 0 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: all 0.3s;
}

.menu_label:hover .icon {
    opacity: 1;
}
  
.menu_input[type=radio] {
    display: none;
}
  
.menu_input[type=radio]:checked + .menu_label {
    background-color: rgba(255, 255, 255, 0.3);
    flex-grow: 10;
}
  
.menu_input[type=radio]:checked + .menu_label .icon {
    opacity: 1;
}
  
.menu_input[type=radio]:checked +.menu_label .menu_text {
    opacity: 1;
}
  
.carousel .page {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.carousel > input {
    display: none;
}

.carousel input:checked + .page {
    opacity: 1;
    pointer-events: auto;
}

.content-flex {
    display: flex;
    flex-direction: column;
}
.carousel {
    position: relative;
    height: auto;
    flex-grow: 1;
}

#battle-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio_nav_input {
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

#player-bag-options {
    position: sticky;
    top: 0;
    z-index: 20;
}
#player-bag-options > div{
    display: flex;
    align-items: center;
    height: 10vh;
}

#player-bag-options .rpg-btn-group-item{
    display: block;
    flex-shrink: 1;
    font-size: 4vw;
    padding: 1vh 2vw;
    border-width: 1vw;
}

#player-bag-options input:checked + .rpg-btn-group-item {
    padding: 2vh 2vw;
}

.weapon-card img{
    background: #7B7B7B;
}

.bag-manage-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bag-manage-options .rpg-btn {
    padding: 0;
    background: black;
}

.bag-card-btn {
    padding: 2px;
    width: 100%;
}

.bag-card-content {
    display: flex;
    flex-direction: column;
}

.bag-card-content h5 {
    align-self: center;
}

#bag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.circle-btn {
    padding: 0;
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #3852ff;
    background: #3852ff;
    aspect-ratio: 1 / 1;
    user-select: none;
    width: 28px;
    height: 28px;
    color: white;
}

.btn-red {
    border-color: var(--rpg-red);
    background: var(--rpg-red);
}

.btn-green {
    border-color: var(--rpg-green);
    background: var(--rpg-green);
}

.circle-btn:active {
    background: darkblue;
}

.btn-red:active {
    background: darkred;
}

.btn-green:active {
    background: darkgreen;
}

.bag-item {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 130px;
    border-radius: 5px;
}

.bag-item:active {
    background: rgba(0, 0, 0, 0.212);
}

.bag-item img {
    object-fit: contain;
    min-width: 70px;
    min-height: 70px;
}

.bag-item p {
    text-align: center;
}