
.menu {
    position: relative;
    padding: 5px;
    width: 100%;
    overflow:auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(135deg, #ff4655 50%, #3852ff 50%);
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border-radius: 4px;
    user-select: none;
}

.icon {
    position: relative;
    top: 3px;
    opacity: 0.7;
}

.menu_text {
    padding-left: 5px;
    opacity: 0;
    padding-top: 3px;
    transition: all 0.3s;
}

.menu_label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    padding: 0 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: all 0.3s;
}

.menu_label:hover .icon {
    opacity: 1;
}
  
.menu_input[type=radio] {
    display: none;
}
  
.menu_input[type=radio]:checked + .menu_label {
    background-color: rgba(255, 255, 255, 0.3);
    flex-grow: 10;
}
  
.menu_input[type=radio]:checked + .menu_label .icon {
    opacity: 1;
}
  
.menu_input[type=radio]:checked +.menu_label .menu_text {
    opacity: 1;
}
  
.carousel .page {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.carousel > input {
    display: none;
}

.carousel input:checked + .page {
    opacity: 1;
    pointer-events: auto;
}

.content-flex {
    display: flex;
    flex-direction: column;
}
.carousel {
    position: relative;
    height: auto;
    flex-grow: 1;
}

/*#battle-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.radio_nav_input {
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

#player-bag-options {
    position: sticky;
    top: 0;
    z-index: 20;
}
#player-bag-options > div{
    display: flex;
    align-items: center;
    height: 40px;
}

#player-bag-options .rpg-btn-group-item{
    display: block;
    flex-shrink: 1;
    font-size: 1em;
    border-width: 2px;
}

.weapon-card img{
    background: #7B7B7B;
}

.bag-manage-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bag-manage-options .rpg-btn {
    padding: 0;
    background: black;
}

.bag-card-btn {
    padding: 2px;
    width: 100%;
}

.bag-card-content {
    display: flex;
    flex-direction: column;
}

.bag-card-content h5 {
    align-self: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.circle-btn {
    padding: 0;
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #3852ff;
    background: #3852ff;
    aspect-ratio: 1 / 1;
    user-select: none;
    width: 28px;
    height: 28px;
    color: white;
}

.btn-red {
    border-color: var(--rpg-red);
    background: var(--rpg-red);
}

.btn-green {
    border-color: var(--rpg-green);
    background: var(--rpg-green);
}

.circle-btn:active {
    background: darkblue;
}

.btn-red:active {
    background: darkred;
}

.btn-green:active {
    background: darkgreen;
}

.item-container > div {
    display: flex;
    flex-direction: column;
    min-height: 114px;
    width: 114px;
    padding-top: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: solid 1px black;
}

.item-container > div:active {
    background: rgba(0, 0, 0, 0.212);
}

.item-container > div img {
    object-fit: contain;
    max-height: 71px;
}

.item-container > div p {
    text-align: center;
    font-size: 0.75em;
    margin-block-start: 4px;
}

#prifile-viewer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-header-avatar {
    border-radius: 10px;
    width: 50vw;
    min-width: 100px;
    max-width: 500px;
    object-fit: contain;
    margin-bottom: 10px;
}

#profile-header-info {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#profile-header-health-bar {
    height: 10px;
    max-width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0 5px;
}

#profile-header-exp-bar {
    height: 10px;
    max-width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0 5px;
}

.profile-icon {
    image-rendering: pixelated;
    cursor: pointer;
    border-radius: 10px;
    width: 20vw;
    min-width: 75px;
    max-width: 400px;
}

img:active.profile-icon {
    background: rgb(0, 0, 0, .2);
}