#play-btn {
    position: relative;
    top: 10%;
    width: 75%;
    height: 20vh;
    line-height: 100%;
}

#avatar-pick {
    margin: auto;
    text-align: center;
}

#intro-text {
    line-height: 1.1em;
    text-align: center;
}

.avatarImg {
    position: relative;
    width: 30vw;
    height: 30vw;
    transition: transform 0.3s;
    z-index: 0;
}

.avatarImg:hover {
    transform: scale(1.3);
}

.inputProxy:checked ~ .avatarImg {
    transform: scale(1.3);
    border: 2px solid;
    border-color: yellow;
    border-radius: 3px;
    z-index: 1;
}

.title {
    text-align: center;
    font-size: 1.5em;
}

#name-picker {
    position: relative;
    width: 100%;
    height: 40px;
    top: 0;
}

#begin-btn {
    position: relative;
    top: 5%;
    height: 20vh;
}

.inputProxy {
    display: none;
}