#play-btn {
    position: relative;
    top: 10%;
    width: 75%;
    height: 40px;
    line-height: 100%;
}

.avatarImg {
    width: 40vw;
    height: 40vw;
    transition: transform 0.3s;
}

.avatarImg:hover {
    transform: scale(1.3);
}

#name-picker {
    position: relative;
    width: 100%;
    height: 40px;
    top: 0;
}

#begin-btn {
    position: relative;
    top: 0;
}
